<div class="w-full py-2 text-lg font-bold flex justify-between px-4 items-center text-white bg-main">
  <% if back %>
    <%= link_to icon('fa-solid', 'arrow-left'), :back %>
  <% end %>
  <%= header %>
  <% if back %>
    <%= button_to "", class:"w-20" %>
  <% end %>
</div>
